{% extends "base.html" %}

{% block title %}Central - Login{% endblock %}

{% block content %}
<article>
    <header>
        <h1>Login</h1>
    </header>
    
    {% if error %}
    <p style="color: var(--pico-color-red-500);">{{ error }}</p>
    {% endif %}
    
    <form action="/login" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
        
        <label for="username">
            Username
            <input type="text" id="username" name="username" required 
                   autocomplete="username" autofocus>
        </label>
        
        <label for="password">
            Password
            <input type="password" id="password" name="password" required
                   autocomplete="current-password">
        </label>
        
        <button type="submit">Login</button>
    </form>
</article>
{% endblock %}
